body {
  margin: 0px;
}
.background-img {
  width: 100%;
  /*-webkit-filter: blur(10px)*/
  opacity: .80;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.nav {
  /*background: #FF33FF*/
  /*background: rgb(231, 208, 186);*/
  background: #99328D;
  width: 100%;
  height: 10px;
}

.logo-cont {
  text-align: center;
  display: inline-block;
}

.logo {
  width: 25%;
  position: relative;
  left: 10%;
}

.icon-cont {
  height: 10%;
  width: 20%;
  float: right;
  margin-top: 20px;
}

.icons {
  width: 80%;
  position: relative;

}

.icon {
  width: 25%;
  margin: 2%;
}

.photos-cont {
  background-color: #99328D;
  height: 10%;
  position: relative;
  top: 700px;
  display: flex;
  justify-content: center;
}

#photo-gallery {
  padding: 5%;
}
.image {
  height: 300px;
}
